@import "tailwindcss";

@theme {
  --color-primaryDark: #010D00;
  --color-backgroundLight: #F2F2F2;
  --color-neutralGray: #A6A6A6;
  --color-darkGray: #595959;
  --color-appBlack: #0D0D0D;
  --border-radius-app: 20px;
  --shadow-card: 0 14px 40px rgba(13, 13, 13, 0.08);
}
